<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tyella.seckill.dao.SuccessKilledDao">
    <select id="getProductById" resultType="Product">
        SELECT * FORM product WHERE id=#{id} AND userPhone=#{userPhone}
    </select>

    <insert id="insertSuccessKilledRecord">
        INSERT INTO product(id,userPhone)
        VALUES(#{id},#{userPhone})
    </insert>
</mapper>